<ion-header class="ion-no-border">
  <ion-toolbar class="cssHeader bgheader">
    <ion-title class="tajawal-Bold cssTitleHead">
      <span (click)="dismiss()" class="cssBtnHeaderLeft">
        <fa-icon icon="arrow-left"></fa-icon>
      </span>
      تغيير كلمة السر
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="cssForm" [formGroup]="dataForm">
    <ion-row>
      <ion-col>
        <div>
          <ion-label class="cssLabel tajawal-Medium">إسم آلمستخدم</ion-label>
          <ion-input placeholder="البريد الإلكتروني أو رقم الهاتف" type="text" name="identifant"
            class="cssInput tajawal-Medium" formControlName="id" autocomplete="off">
          </ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <h2 class="tajawal-Bold" style="color: rgb(250, 221, 221);margin-right: 10px;">{{nomMessage}}</h2>
    </ion-row>

    <ion-row [ngClass]="{'hidden':isHidden}">
      <ion-col>
        <div>
          <ion-label class="cssLabel tajawal-Medium"> الرمز السري القديم </ion-label>
          <ion-input placeholder="&#11044; &#11044; &#11044; &#11044; &#11044; &#11044; &#11044; &#11044;"
            [type]="!showPassword ? 'password' : 'text'" class="cssInput tajawal-Medium" name="password"
            formControlName="pwd" autocomplete="off">
          </ion-input>
          <ion-icon slot="start" [name]="passwordToggleIcon" (click)="togglePassword()" class="icon-login">
          </ion-icon>
        </div>
      </ion-col>
    </ion-row>


    <ion-row [ngClass]="{'hidden':isHidden}">
      <ion-col>
        <div>
          <ion-label class="cssLabel tajawal-Medium"> الرمز السري الجديد </ion-label>
          <ion-input placeholder="&#11044; &#11044; &#11044; &#11044; &#11044; &#11044; &#11044; &#11044;"
            [type]="!showrePassword ? 'password' : 'text'" class="cssInput tajawal-Medium" name="repassword"
            formControlName="repwd" autocomplete="off">
          </ion-input>
          <ion-icon slot="start" [name]="repasswordToggleIcon" (click)="togglerePassword()" class="icon-login">
          </ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row [ngClass]="{'hidden':isHidden}">
      <ion-col>
        <h5 (click)="triggerForgotPassword()" class="tajawal-Bold link">نسيت كلمة السر؟</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="cssBtnContainer">
          <ion-button [disabled]="dataForm.invalid" expand="block" class="tajawal-Bold cssBtn color1" (click)="changePassword()">
            إرسال 
                      </ion-button>

        </div>
      </ion-col>
    </ion-row>

  </form>



</ion-content>