<ion-header>
  <ion-toolbar class="cssHeader bgheader">
    <ion-title class="tajawal-Bold cssTitleHead">
      <span class="cssBtnHeaderLeft" (click)="goBack()">
        <fa-icon icon="arrow-left"></fa-icon>
      </span>
      سياسة الخصوصية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 1rem; padding: 1rem;"><h2>سارٍ اعتبارًا من 20/03/2023</h2>
    <h3>1) حول هذا الإشعار</h3>
    <p>يوفر إشعار الخصوصية هذا معلومات حول كيفية قيام RAIUD بجمع ومعالجة بياناتك الشخصية عندما تزور تطبيقاتنا او موقعنا .
      توضح سياسة الخصوصية المحدثة الخاصة بنا ما هي المعلومات التي نجمعها ، وكيف نستخدمها ، والخيارات المتاحة إلك ، بما في ذلك كيفية إدارة إعدادات الخصوصية ، والوصول إلى المعلومات التي لدينا عنك ، أو حذفها . RAIUDملتزم بحماية خصوصية المستهلك عبر الإنترنت. نعتقد أن الحماية الأكبر للخصوصية الشخصية على الويب لن تحمي مستخدمينا فحسب ، بل ستزيد أيضًا من ثقة المستخدمين وفي النهاية مشاركتهم في الأنشطة عبر الإنترنت. RAIUD يسعى جاهدا لتزويد زواره بالعديد من مزايا تكنولوجيا الإنترنت ولتوفير تجربة تفاعلية وشخصية . الغرض من سياستنا هو إعلامك بأنواع المعلومات التي نجمعها عنك عند زيارتك لتطبيقاتنا او موقعنا ، وكيف يمكننا استخدام هذه المعلومات ، وما إذا كنا نكشف عنها لأي شخص ، </p>
    
    <h3>2) البيانات التي نجمعها عنك</h3>
      <p>نجمع بياناتك الشخصية من أجل توفير منتجاتنا وخدماتنا وتحسينها باستمرار. يجوز لنا جمع الأنواع المختلفة التالية من البيانات الشخصية الخاصة بك واستخدامها وتخزينها   لأغراض تسويقية وعملية </p>
    
      <h4>•2-1) المعلومات التي تقدمها لنا: نتلقى ونخزن المعلومات التي تزودنا بها بما في ذلك بيانات هويتك وبيانات الاتصال وعنوان التسليم (عنوان متجرك) و اسم متجرك و نوعية متجرك</h4>
      <h4>•2-2) معلومات عن استخدامك لتطبيقنا : نقوم  بجمع وتخزين أنواع معينة من المعلومات المتعلقة باستخدامك لتطبيقات او موقع RAIUD بما في ذلك عنوان IP و معلومات حول عمليات شراء عدد ووقت الطلابيات وعدد ونوع المنتجات هذه المعلومات نجمعها و نجودك بها في آي وقت تطلبها وتكون ظاهرة إلك في حسابك الخاص </h4>
      <h4>2-3) معلومات متاحة للجمهور: هناك معلومات عنك  تكون متاحة للمقولين تابعين لنا يعني معلوماتك تكون متاحة : للبائع الخاص بك أو الموزع الخاص بك مثل : اسمك و رقم الهاتف وعنوان بريدك الالكتروني و رقم السري الأول الخاص بك.(رقم سري الأول الخاص بك يمكنك تغيره بعد تشجيلك من قبل البائع) ، وعنوان متجرك واسم متجرك وعدد المنتجات التي قمت بطلبها وهذه المعلومات لم تكن متاحة بشكل علني  لجميع جمهور RAIUD فهي تقتصر على البائعين و الموزعين تابع لهم و كذالك تظهر هذه المعلومات للمسؤولين عن إدارة طلابيات و المبيعات 
      </h4>
      <h3>3) كيف نستخدم بياناتك الشخصية</h3>
      <p> نستخدم بياناتك الشخصية لتشغيل المنتجات والخدمات التي نقدمها وتوفيرها وتطويرها وتحسينها ، بما في ذلك ما يلي:</p>
      <ul>
        <li>•تسجيلك كعميل جديد.</li>
        <li>•معالجة وتسليم طلباتك.</li>
        <li>•إدارة علاقتك معنا.</li>
        <li>•تمكينك من المشاركة في العروض الترويجية والمسابقات والاستطلاعات.
        </li>
        <li>•تحسين تطبيقاتنا ومنتجاتنا وخدماتنا
        </li>
        <li>‌•التواصل معك وعرض المنتجات أو الخدمات قد تهمك 
        </li>
        <li>‌•كشف الاحتيال
        </li>
        <li>‌•في حالة حدوث خطأ في التطبيق ، نقوم بجمع البيانات والمعلومات (من خلال منتجات الجهات الخارجية) على هاتفك تسمى Log Data. قد تتضمن بيانات السجل هذه معلومات مثل عنوان بروتوكول الإنترنت ("IP") الخاص بجهازك ، واسم الجهاز ، وإصدار نظام التشغيل ، وتكوين التطبيق عند استخدام RAIUD، ووقت وتاريخ استخدامك للخدمة ، وإحصاءات أخرى </li>
        <li>‌•الوصول إلى الهاتف وإدارة المكالمات  يمكنك إجراء مكالمة هاتفية من داخل تطبيق مباشرة دون رجوع الى سجل المكالمات </li>
    
      </ul>
      <h3>4) من لديه حق الوصول إلى بياناتك الشخصية؟
      </h3>
      <h4>4.1 موظفو الشركة بياناتك الشخصية مخصصة للأشخاص المخولين حسب الأصول لمعالجتها داخل الشركة ، على وجه الخصوص ، واعتمادًا على طبيعة المعالجة ونوع البيانات ، فإن الأشخاص المسؤولين عن قسم المبيعات ، وخدمة العملاء ، والتسويق ، والإدارة الخدمات اللوجستيك وتكنولوجيا المعلوماتية.</h4>
      <h4>4.2 مقاولو الشركة من الباطن كجزء من ممارسة أنشطتها وتقديم خدماتها ، فإن الشركة تلجأ إلى المقاولين من الباطن. هذه: معالجة بياناتك الشخصية نيابة عنها وبناءً على تعليماتها. تقديم ضمانات كافية لتنفيذ التدابير الفنية والتنظيمية المناسبة لضمان أمن وسرية بياناتك.</h4>
      <h3>5)التحويلات الدولية</h3>
      <p>يجوز لنا نقل بياناتك الشخصية إلى مواقع في دولة أخرى ، إذا كان ذلك مسموحًا بيه وفقًا للقوانين المعمول بها في موقعك. هناك مخاطر متأصلة في مثل هذه التحويلات. في حالة النقل الدولي لبياناتك الشخصية ، سنضع التدابير اللازمة لحماية بياناتك ، وسنواصل احترام حقوقك القانونية وفقًا لشروط الخصوصية وإشعار ملفات تعريف الارتباط والقوانين المعمول بها في موقعك.</p>
      <h3>6)أمن البيانات
      </h3>
      <p>لقد وضعنا تدابير أمنية مناسبة لمنع فقدان بياناتك الشخصية عن طريق الخطأ أو استخدامها أو الوصول إليها بطريقة غير مصرح بها أو تغييرها أو الكشف عنها. بالإضافة إلى ذلك ، فإننا نقصر الوصول إلى بياناتك الشخصية على هؤلاء الموظفين والوكلاء والمقاولين و الموزعين تابعين لنا الذين يحتاج عملهم إلى معرفته. سيقومون بمعالجة بياناتك الشخصية فقط بناءً على تعليماتنا ويخضعون لواجب السرية. لقد وضعنا إجراءات للتعامل مع أي خرق مشتبه به للبيانات الشخصية وسوف نخطرك أنت وأي جهة تنظيمية قابلة للتطبيق بخرق حيث يُطلب منا قانونًا القيام بذلك.</p>
      <h3>7)حقوقك القانونية
      </h3>
      <p>من المهم أن تكون البيانات الشخصية التي نحتفظ بها عنك دقيقة وحديثة. يرجى إعلامنا إذا تغيرت بياناتك الشخصية أثناء علاقتك معنا. في ظل ظروف معينة ، تتمتع بحقوق بموجب قوانين حماية البيانات فيما يتعلق ببياناتك الشخصية ، بما في ذلك الحق في الوصول إلى بياناتك الشخصية أو تصحيحها أو محوها ، والاعتراض على معالجة بياناتك الشخصية أو تقييدها ، وإلغاء الاشتراك في رسائل البريد الإلكتروني والرسائل الإخبارية الخاصة بنا.</p>
      <h3>8)تفاصيل أكثر
      </h3>
      <p>إذا كنت تبحث عن مزيد من المعلومات حول كيفية معالجتنا لبياناتك الشخصية ، أو إذا كنت ترغب في ممارسة حقوقك القانونية فيما يتعلق ببياناتك الشخصية ، فيرجى الاتصال بـ
        support@raiud.com</p>
    
        <h1>  جاهز لبدء التسوق 
          تسوق الآن</h1></div>

</ion-content>
