<ion-header class="ion-no-border">
  <ion-toolbar class="cssHeader bgheader">

    <ion-title class="tajawal-Bold cssTitleHead">
      <span class="cssBtnHeaderLeft" (click)="goBack()">
        <fa-icon icon="arrow-left"></fa-icon>
      </span>
      طلبياتي
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgInterface2">


  <div class="cssHeight">
    <ion-spinner *ngIf="showAwait"></ion-spinner>
    <ion-row *ngFor="let d of data;  index as i">
      <ion-col class="ion-no-padding">

        <div class="cssProduct">
          <div class="cssImg">
            <img [src]="url+'/images/image_'+d.code+'.png'" height="100px" alt="error">
          </div>
          <div class="cssInfos">
            <div class="cssName threeDots tajawal-Medium">{{d.nom}}</div>
            <div class="cssPrixT">
              <div class="cssPrix">
                <span class="titlePrice">الثمن:</span>
                <span>{{d.special?(d.prixspecial*d.quantite).toFixed(2):(d.prixfinal*d.quantite).toFixed(2)}}</span>
                درهم
              </div>
              <div class="cssPrix">
                <span class="titlePrice">الربح:</span> <span style="color: rgb(61, 212, 41);">{{d.point_c*d.quantite}}</span> نقطة
                <span style="color: rgb(212, 52, 41);">{{d.point_v*d.quantite}}</span>.
              </div>
                            <div style="    display: grid;
              grid-gap: 5%;
              grid-template-columns: 48% 39%;">
                <div class="cssQuantity">
                  <div [ngClass]="{'cssAddMinus':true, 'grey_back':enableToOrder, 'grey':!enableToOrder}"  (click)="addQty(i,d)">
                    <fa-icon icon="plus"></fa-icon>
                  </div>
                  <div class="cssQty">
                    {{d.quantite}}
                  </div>
                  <div class="cssAddMinus" (click)="minusQty(i)">
                    <fa-icon icon="minus"></fa-icon>
                  </div>
                </div>
                <div class="cssPrixT">
                  <div class="cssDelete" (click)="removeProductFromOrder(i)">
                    <div class="tajawal-Medium cssTrashBtn">
                      <fa-icon icon="trash-alt"></fa-icon>
                      حذف
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row>
        <div class="cssS">
                    <div class="cssSomeValue" *ngIf="show">
            <div class="price_total tajawal-Boldd">
              <div style="font-size: 13px;">
                <div class="sales_taxe grided_in_half"><span>إجمال المبيعات :</span> {{totalPriceSales.toFixed(2)}} درهم</div>
                <div *ngIf="percent!==0" class="sales_taxe grided_in_half"><span>ضريبة المبيعات :</span> {{(totalPriceSales * (percent?percent: 5)) / 100}} درهم</div>
                <div   class="delivery"><span>التوصيل :</span> <span *ngIf="isOff" style="text-decoration: line-through;">{{(delivery?delivery:0).toFixed(2)}} درهم</span> {{(delivery?totalPriceSales>max?(delivery-delivery*off/100):delivery : 0).toFixed(2)}} درهم</div>
                <div  *ngIf="app_cost!==0" class="app_cost grided_in_half"><span> F.APP :</span> {{app_cost? app_cost: 2}} درهم</div>
              
                <div style="font-size: 11px;color: grey;margin-top: 10px;">
                  <mark *ngIf="off!==100">خصم {{off}} بالمئة للتوصيل على طلبية أكبر من {{max}} درهم</mark>
                  <mark *ngIf="off==100">التوصيل مجاني على كل طلبية تفوق {{max}} درهم</mark>
                </div>
              </div>
              <hr>
              <div style="background: white;padding: 10px;border-radius: 5px;    box-shadow: 0px 0px 5px;">
                <div class="total_pr grided_in_half"><span>المجموع :</span> {{totalPrice.toFixed(2)}} درهم</div>
                <div class="total_po grided_in_half"><span>الربح الإجمالي :</span> {{totalPoints_c}} نقطة</div>
              </div>
            </div>
       
     
                      </div>
          <div class="tajawal-Boldd" *ngIf="!show">
            <p style="text-align: center">السلة فارغة</p>
          </div>
          <ion-button [disabled]="!show"
            class="tajawal-Boldd animate__animated animate__zoomIn animate__delay-1s" (click)="sendOrder()">
            طلب المنتوجات
          </ion-button>

        </div>

      </ion-row>

    </ion-grid>

  </div>



    <div class="alerte" *ngIf="showSuccessAlerte">
    <div class="box2">
      <div class="successImg">
        <img src="../../../assets/images/successAlert1.gif" alt="error" draggable="false">
      </div>
      <div class="message">
        <p class="message_content tajawal-Medium">
          عملية إرسال الطلبية قد تمت بنجاح
        </p>
        <div class="message_btn">
          <button routerLink="/categories" class="tajawal-Medium">رجوع</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>



 <!--  
<ion-footer style="color:white">
  <ion-toolbar  color="dark" mode="ios">
    <ion-title><a target="_blank" style="color:white; text-decoration:non;" class="tajawal-Boldd policy"  routerLink="/policy">سياسة الخصوصية</a> </ion-title>
  </ion-toolbar>
</ion-footer>
-->