.cssContainer{
    height: 100vh !important;
    width: 94%;
    margin: 0px auto;
}
.cssLogo{
    width: 200px; height: auto;
    display: block;
    margin: 20px auto;

}
.cssTitle{
    margin: 0px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: -20px;
}
.cssForm{ 
    width: 300px;
    margin: 30px auto;
}

.cssLabel{
    font-size: 18px;
    color: #fff;
}

.cssInput{
    height: 60px; width: 300px;
    margin: 12px 0px;
    --background: #fff !important;
    border-radius: 6px;
}
.cssBtnContainer{
    margin-top: 30px;
}
.cssBtn{
    height: 60px; width: 300px;
    font-size: 30px;
    --background: #fff !important;
    --border-radius: 6px;
    border: none;
}
.icon-login{
    position: absolute;
    left: 10px; top: 60px;
    margin-right: 10px;
    font-size: 24px;
    color: #E50914;
    z-index: 10000;
}

.cssLink{
    margin-top: 20px !important;
}
.cssLink h3{
    margin: 12px 0px !important;
    color: #fff;
    font-size: 13px !important;
    font-weight: 500;
}
.cssLink span{
    color: #ffc900;
    margin: 0px 14px;
}
.policy {
    color: #ffc900;
    text-decoration: none;
}

@media only screen and (max-width: 362px) {
    .cssLogo{
        width: 160px; height: auto;
        display: block;
        margin: 20px auto;


    }
    .cssTitle{
        font-size: 18px;
        font-weight: 600;
        position: relative;
        top: -30px;
    }
    .cssForm{ 
        width: 94%;
        margin: 16px auto;
    }

    .cssLabel{
        font-size: 15px;
    }

    .cssInput{
        height: 50px; width: 100%;
        margin: 12px 0px;
        padding-right: 10px !important;
        padding-right: 10px;
    }
    .cssBtn{
        height: 50px; width: 100%;
        margin: 16px auto;
        font-size: 24px;
        --border-radius: 4px !important;
    }
    .icon-login{
        position: absolute;
        left: 20px; top: 60px;
        margin-right: 10px;
        font-size: 20px;
    }

    .cssLink{
        font-size: 14px !important;
    }

}

@media only screen and (max-height: 500px) {
    .cssLogo{
        margin: 20px auto;

    }
    .cssForm{
        position: relative;
        top: -20px;
    }
    .cssBtnContainer{
        margin-top: 20px;
    }
}